TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

SHEET_ID=your_auth_token_here
SHEET_TAB_NAME=Tasks


GOOGLE_CREDENTIALS_JSON={"type": "service_account", "project_id": "...", ...}
